/*# for id
. for class*/

div{
    alignment-adjust: central;
    text-align: center;
}


#host-song-list{
    margin-left:auto;
    margin-right:auto;
}

#host-song-list .vote-good-button
{
    display: inline;
    width: 10%;    
}

#host-song-list .vote-bad-button
{
    display: inline;
    width: 10%;    
}


#host-song-list .song-button
{ 
    opacity: 1;
    display: inline;
    height: 10%;
    width: 70%;
    
}

#current-song .current-song-button
{
    margin-left:auto;
    margin-right:auto;
    height: 10%;
    width: 90%;
}


#songs .song-button
{
    margin-left:auto;
    margin-right:auto;
    height: 10%;
    width: 90%;
    
}