[data-role="page"] {
    margin-top: 6em !important;
}

body,div{
    alignment-adjust: middle !important;;
    text-align: center !important;
    margin: 1em !important;
}


#playbar{
    text-align: left;
    margin: 0em;    
}


#search_btn{
    margin: 1em;
    margin-left: 0.5em;
    width: 6.5em;
    height: 2.5em;
}

#search_text{
    margin: 1em;
    margin-right: 0em;
    border-radius: 8em;
    width: 11em;
}


#host_btn{
    position: fixed;
    width: 10em;
    top: 1em ;
    left: 1em ;
}