html, body {
    margin: 0;
    padding: 0;
}

#page {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 8px solid #f00;
}


[data-role="page"]#login_user {
    margin-top: 1em !important;
    margin-bottom: 6em !important;
}/*

[data-role="page"] {
    margin-top: 1em !important;
}*/

//the entrance page
#login_user{
    margin-top: 5em !important;
}
.blue_title.button{
    height: 3em;
    font-size: 2em;
    border-radius: 0em;
}

div,h1,h2,span,button{
    alignment-adjust: middle;;
    text-align: center;
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 1em;
}


#playbar{
    text-align: left;
    margin: 0em;    
}


#search_btn{
    margin: 1em;
    margin-left: 0.5em;
    width: 6.5em;
    height: 2.5em;
}

#search_text{
    margin: 1em;
    margin-right: 0em;
    border-radius: 8em;
    width: 9em;
}


#host_btn{
    position: fixed;
    width: 10em;
    top: 8em ;
    left: 1em ;
}

#home_btn{
    position: absolute;
    width: 5em;
    height: 2em;
    top: 0em ;
    right: 0em ;
}

.row,.row div{
    margin: 0em !important;
}