[data-role="page"] {
    margin-top: 1em !important;
}

//the entrance page
#login_user{
    margin-top: 5em !important;
}

body,div,h1,h2,span{
    alignment-adjust: middle !important;;
    text-align: center !important;
    margin: 1em !important;
}


#playbar{
    text-align: left;
    margin: 0em;    
}


#search_btn{
    margin: 1em;
    margin-left: 0.5em;
    width: 6.5em;
    height: 2.5em;
}

#search_text{
    margin: 1em;
    margin-right: 0em;
    border-radius: 8em;
    width: 9em;
}


#host_btn{
    position: fixed;
    width: 10em;
    top: 1em ;
    left: 1em ;
}

#back_to_feed_btn{
    margin: 1em;
}

/*part of list song, history or search result*/
.lst_btn{
    
}
/*current song or next song*/
.single_song{
    color: black;
    text-emphasis-color: black;
}
#best_songs div{
    display: inline !important;
}
/*.like_btn{
    
}
.dislike_btn{
    
}*/